body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    font-family: 'Bubbler One', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1534234757579-8ad69d218ad4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNhcHB1Y2Npbm8lMjBjb2ZmZWV8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

p {
    margin-top: 0px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 80px;
}

h2 {
    margin-top: 85px;
    margin-bottom: 0px;
}

.topnav {
    display: flex;
    align-content: flex-end;
    /* display: block; */
    height: 100%;
    width: 100%;
    padding: 5px;
    padding-left: 60px;
    box-sizing: border-box;
    font-family: 'poppins';
    font-size: 16px;
    word-spacing: 8px;
    background-color: ;
    justify-content: space-between;

}

.topnav a {
    color: palevioletred;
    padding: 5px;
    font-family: 'poppins';
    font-weight: 500;
    font-size: medium;
    border-style: solid;
    border-width: 1px;

}

.topnav a:hover {
    background-color: white;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Fuggles';
    font-size: 35px;
    color: white;
    margin-bottom: 35px;
}


.premenu-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
    font-size: 16px;
    font-family: 'poppins';
    margin-bottom: 40px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: ;
    color: black;
    height: 100%;
    width: 100%;
    font-size: 17px;
    margin-bottom: 55px;

}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    font-family: 'poppins';
    font-size: 14px;
    border-radius: 4px;
}

.align-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    background-color: rgba(171, 145, 104, 0.501);
    background-color: ;
    opacity: ;
    /*background-color: rgba(255, 255, 255, 0.308)*/
    padding-right: 35px;
}

.logo {
    height: 150px;
    width: 175px;
    opacity: 0.9;
}

.social-icons {
    display: flex;
    justify-content: ;
}

.social-icons a {
    text-decoration: none;
    color: white;
}

.twitter-icon {
    font-size: 30px;
    padding-right: 15px;
    padding-left: 10px;
    margin: 5px 2px;
    width: 20px;
    background: #55ACEE;
    color: white;
}

.instagram-icon {
    font-size: 30px;
    padding-right: 15px;
    padding-left: 10px;
    width: 20px;
    margin: 5px 2px;
    background: #e4405f;
}

.pinterest-icon {
    font-size: 30px;
    padding-right: 15px;
    padding-left: 10px;
    width: 20px;
    margin: 5px 2px;
    background: #cb2027;
    color: white;
}

.facebook-icon {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 20px;
    margin: 5px 2px;
    background: #3B5998;
    color: white;

}